Intro_XML/src/com/itvdn/jdbcandhibernate/ex_002_formatting_and_validation_XML/country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="country" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="country">

        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="capital" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
<!--                <xs:element name="visa_cost" type="visaType"/>-->
            </xs:sequence>
            <xs:attribute name="countryCode" type="xs:string"/>
        </xs:complexType>

    </xs:element>
<!--    <xs:complexType name="visaType">-->

<!--        <xs:simpleContent>-->
<!--            <xs:extension base="xs:double">-->
<!--                <xs:attribute name="currency" type="xs:string" use="required"/>-->
<!--            </xs:extension>-->
<!--        </xs:simpleContent>-->

<!--    </xs:complexType>-->
</xs:schema>